body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: rgba(245, 222, 179, 0.382)
}

#a-parnt{
    display: none;
}

#b-parnt{
    display: none;
}

.calculator-parnt-bord{
    box-shadow: 0px 0px 8px black;
    border-radius: 2px;
    width: fit-content;
}

.calculator-parnt{
    width: fit-content;
    padding: 10px 0px;
}

.calculator-parnt-bord{
    background-color: cadetblue;
    padding: 6px;
}

.rows{
    display: flex;
    gap: 10px;
    padding: 8px 0px;
}

.buttons{
    border: none;
    border-radius: 50%;
    box-shadow: 1px 0px 3px black;
    background-color: gold;
    font-size: 34px;
    font-weight: 900;
    transition: 200ms;
    width: 50px;
    height: 50px;
}

.buttons p{
    padding: 0px;
    margin: 0px;
}

.buttons:hover{
    background-color: black;
    color: gold;
}

/* .fDivide{
    padding: 10px 26px;
}

.fSubt{
    padding: 10px 25px;
}

.fEqual{
    padding: 10px 21px;
}

.nPoint{
    padding: 10px 25px;
} */

.fMulti,
.fSubt,
.fDivide,
.fAdd{
    background-color: black;
    color: gold;
}

.fEqual:hover{
    background-color: rgb(63, 255, 178);
    color: black;
}

.fMulti:hover,
.fSubt:hover,
.fDivide:hover,
.fAdd:hover{
    background-color: gold;
    color: black;
}

.inpOut{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 2px solid rgb(49, 80, 83);
}