@font-face {
    font-family: obilee;
    src: url(./fonts/Odibee_Sans/OdibeeSans-Regular.ttf);
}

.logo-pic{
    width: 140px;
}

.logo-parnt{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 3px 0px;
}

.banner{
    width: 800px;
}

.ban-parnt{
    display: flex;
    justify-content: right;
    background-color: yellow;
}

.ban-text{
    padding: 20px;
}

.ban-p{
    color: darkslategray;
    font-weight: 900;
    font-size: 40px;
    font-family: obilee;
}