body{
    background: url(https://wallpapers.com/images/hd/light-color-background-swzb97w5pxngu8yv.jpg);
}

p{
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 42px;
}

.categories{
    background-color: #E5E5E5;
    margin: 0px;
    padding: 20px 80px;
    border-radius: 0%;
    transition: 200ms;
}

.categories:hover{
    background-color: #696969;
    color: white;
}

.categories2{
    background-color: #E5E5E5;
    margin: 0px;
    border-radius: 0%;
    transition: 200ms;
}

.categories2:hover{
    background-color: #696969;
    color: white;
}

.navbar{
    padding: 0px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: flex-start;
}

/* DROPDOWN STYLING */

#drop-content{
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    height: 600%;
}


#drop-content2{
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

.navbox{
    transition: 200ms;
    margin: 10px;
    background-color: #E5E5E5;
    padding: 10px 70px;
    border-radius: 10px;
}

.navbox:hover{
    transition: 200ms;
    background-color: #696969;
    color: white;
}

.drop-item{
    transition: 200ms;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
}

.drop-item:hover{
    transition: 200ms;
    background-color: #696969;
    color: white;
}

@media(max-width:1100px){
    .drop-item{
        transition: 200ms;
        padding: 10px 51px;
        background-color: #F5F5F5;
    }

    .navbox{
        transition: 200ms;
        margin: 10px;
        background-color: #E5E5E5;
        padding: 10px 50px;
        border-radius: 10px;
    }    
}

@media(max-width:950px){
    .drop-item{
        transition: 200ms;
        padding: 10px 51px;
        background-color: #F5F5F5;
    }

    .navbox{
        transition: 200ms;
        margin: 10px;
        background-color: #E5E5E5;
        padding: 10px 20px;
        border-radius: 10px;
    }    
}



/* SELF MADE DROPDOWN STYLING */

.bars{
    display: none;
}

.bars2{
    display: none;
    padding: 20px 118px;
}

@media(max-width:700px){
    .bars{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .bars2{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .drop-sign{
        display: none;
    }

}

/* Working on nav pages */

.pages{
    display: flex;
}

.op-pages{
    display: none;
}

.menu-bar{
    display: none;
    
}

@media(max-width:700px){
    .navbox{
        display: none;
    }

    .menu-bar{
        display: flex;
        justify-content: center;
    }
}
