.footerParent{
    height: fit-content;
    border-top: 1px solid grey;
    background-color: beige;
}

.logoParent{
    display: flex;
    justify-content: center;
}

.logo{
    width: fit-content;
    color: beige;
    text-shadow: 0px 0px 3px black;
}

.footerContent{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footerParaParent{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.footerPara{
    width: 150vh;
}

.footerContactParent{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}