*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

P{
    margin: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

.main{
    margin: 0px;
    padding: 0px;
    background: url(./assets/images/bgmain.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.img-parnt{
    margin: 0px;
    padding: 0px;
}

.logo{
    width: 100%;
    height: 100%;
}

.navbar{
    display: flex;
    padding: 0px;
    margin: 0px;
}

.main-ul, .cont-ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    font-weight: bolder;
    font-size: 13px;
    color: white;
}

.cont-ul{
    padding-right: 18px;
}

.main-ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 800;
    font-size: 14px;
    color: white;
}

ul{
    display: flex;
    gap: 30px;
    margin: 0px;
    list-style: none;
    font-weight: 800;
    font-size: 14px;
    color: white;
}

.navli{
    padding: 8px 0px;
}

.navli:hover{
    border-bottom: 3px solid #01A7DF;
    transition: 200ms;
    transition: 5s 5s 6s;
}

.logo{
    margin: 27px 12px;
    width: 165px;
}   

.center-p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px 180px;
    line-height: 70px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 800;
}

.center-p p{
    padding: 0px 20px;
}

.nav-link{
    text-decoration: none;
    color: white;
}

.i-bars{
    padding: 0px 10px;
    font-size: 30px;
    color: white;
}

.main-sm{
    display: none;
}

@media(max-width:1250px){
    .main{
        display: none;
    }

    .main-sm{
        display: block;
    }
}

.mgn-sm{
    display: none;
    padding: 0px 10px;
    color: white;
    font-size: 15px;
}

@media(max-width:770px){
    .center-p{
        padding: 0px 60px;
        height: 65vh;
        line-height: 50px;
    }

    .mgn-sm{
        display: block;
    }

    .cont-nav{
        display: none;
    }

    .main{
        background: url(./assets/images/bgmain2.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    /* CAROUSEL */
    /* CAROUSEL */
}




@media(max-width:650px){
    .center-p{
        padding: 0px 20px;
        height: 65vh;
        line-height: 50px;
    }

    .main{
        height: 70vh;
    }
}

@media(max-width:500px){
    .center-p{
        font-size: 35px;
        height: 50vh;
        line-height: 38px;
    }

    .main{
        height: 60vh;
    }
}

@media(max-width:370px){
    .center-p{
        font-size: 28px;
    }
}




/* MARQUEE    MARQUEE     MARQUEE    MARQUEE    MARQUEE */

.animation{
    font-size: 25px;
    font-weight: 800;
    margin: 33px 0px;
    color: #004C97;
}

.n-a{
    color: #004C97;
    font-size: 25px;
    font-weight: 100;
}

.n-a:hover{
    text-decoration: underline;
}

/* CAROUSEL */

.side-text-parnt{
    height: 100%;
}

.carousel-item{
    height: 100%;
}



.crs-side-para1{
    height: 100%;
    background-color: #568302;
    padding: 70px 30px;
    color: white;
}

.crs-side-para2{
    height: 100%;
    background-color: #01A7DF;
    padding: 70px 30px;
    color: white;
}

.crs-side-para3{
    height: 100%;
    background-color: #004C97;
    padding: 70px 30px;
    color: white;
}

.crs-side-para4{
    height: 100%;
    background-color: #313859;
    padding: 70px 30px;
    color: white;
}

.crs-side-para5{
    height: 100%;
    background-color: #C6404D;
    padding: 70px 30px;
    color: white;
}

.side-ar-heading{
    margin-bottom: 5px;
    font-weight: 800;
}

.side-main-heading{
    font-size: 45px;
    font-weight: 800;
    line-height: 65px;
}

@media(max-width:1200px){
    .side-main-heading{
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
    }
}

.side-date{
    padding: 20px 0px;
}

.side-low-heading{
    padding: 10px 0px;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 32px;
}

.side-href{
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 800;
}

.carousel{
    padding: 0px;
}




/* KITCHEN KITCHEN KITCHEN KITCHEN KITCHEN KITCHEN KITCHEN KITCHEN KITCHEN  */




.kitchen{
    padding: 0px;
    margin: 20px 0px;
}

.pepper-parnt{
    padding: 0px;
}

.pepper{
    width: 240px;
}

.kc-img{
    width: 95%;
}

.kc-img-parnt{
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;
    left: -5px;
    z-index: -1;
}

@media(max-width:3000px){
    .kc-img{
        width: 200%;
    }

    .pepper{
        width: 400px;
    }

    .kc-img-parnt{
        top: -110px;
        left: -50px;
    }
}

@media(max-width:2200px){
    .pepper{
        width: 400px;
    }
    
    .kc-img{
        width: 150%;
    }
    
    .kc-img-parnt{
        top: -40px;
        left: -5px;
    }
}

@media(max-width:2000px){
    .pepper{
        width: 400px;
    }
    
    .kc-img{
        width: 100%;
    }
    
    .kc-img-parnt{
        top: -40px;
        left: -5px;
    }
}

@media(max-width:1300px){
    .pepper{
        width: 240px;
    }
    
    .kc-img{
        width: 95%;
    }
    
    .kc-img-parnt{
        top: -40px;
        left: -5px;
    }
}

#kitchen2{
    display: none;
}

@media(max-width:990px){
    .kc-img{
        display: none;
    }

    #kitchen2{
        display: block;
    }

    #kc-text2{
        top: 150px;
    }
    .row{
        flex-direction: column-reverse;
    }
}

@media(max-width:770px){


    #kc-text2{
        top: 100px;
    }

    .kc-text1{
        margin-top: -150px;
    }

    .sm-text{
        font-weight: 100;
    }
    
    .h-text{
        font-weight: 100;
        font-size: 5px;
    }
}



@media(max-width:520px){
}

.kc-text{
    position: absolute;
    top: 500px;
    text-align: center;
    padding: 0px;
    height: 100%;
    align-items: flex-end;
}

.sm-text{
    color: white;
    font-weight: 900;
    font-size: 15px;
}

.h-text{
    font-size: 40px;
    font-weight: 900;
    background-color: white;
    padding: 0px;
}

@media(max-width:1200px){
    .h-text{
        font-size: 20px;
    }
}

.kc-img-parnt2{
    display: flex;
    justify-content: center;
    position: relative;
}

.kc-img-parnt2 .kc-text{
    top: 350px;
}



.l-text{
    padding: 0px;
    margin: -20px 0px;
}

.l-text-link{
    padding: 0px;
    margin: 60px 0px;
    font-weight: 800;
}

.l{
    text-decoration: none;
    color: black;
}

.l:hover{
    text-decoration: underline;
}



.dr-qk{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 70px;
}

.divers, .nutri{
    position: relative;
    top: -100px;
    padding: 0px;
    width: fit-content;
}

.drink, .quaker{
    width: 513px;
}


@media(max-width:860px){
    .dr-qk{
        flex-direction: column;
        padding: 0px 30px;
    }
    
    .drink, .quaker{
        width: 100%;
    }

    .kc-img-parnt, .kc-img-parnt2{
        padding: 0px;
    }

    .kc-img{
        width: 100%;
    }
    
}


.hungry{
    padding: 0px;
    font-size: 160px;
    font-weight: 900;
    letter-spacing: -10px;
    opacity: 10%;
}

.h-up-br{
    font-size: 30px;
    font-weight: 800;
    position: relative;
    top: -135px;
    left: 110px;
    width: fit-content;
}

@media(max-width:770px){
    .hungry{
        font-size: 110px;
    }

    .h-up-br{
        font-size: 25px;
        top: -120px;
    }
}

.mm{
    letter-spacing: -8px;
    font-weight: 900;
    font-size: 50px;
    color: #004C97;
}



@media(max-width:500px){
    .dr-qk{
        padding: 0px 0px;
    }

    .drink, .quaker{
        width: 100%;
    }

    .kc-img-parnt, .kc-img-parnt2{
        padding: 0px;
    }

    .kc-img{
        width: 100%;
    }

    .kc-text1{
        top: 340px;
    }

    #kc-text2{
        top: 60px;
    }


    .hungry{
        font-size: 80px;
    }

    .h-up-br{
        font-size: 20px;
        top: -100px;
    }
}

@media(max-width:325px){
    .sm-text{
        font-size: 8px;
    }

    .h-text{
        font-size: 15px;
    }

    .hungry{
        font-size: 60px;
        letter-spacing: -5px;
    }

    .h-up-br{
        font-size: 15px;
        top: -90px;
        left: 60px;
    }
}


@media(max-width:250px){
    .hungry{
        font-size: 40px;
        letter-spacing: -5px;
    }

    .h-up-br{
        font-size: 10px;
        top: -80px;
        left: 40px;
    }

    .pepper{
        width: 150px;
    }
}

.prod-parnt{
    width: 100%;
}

.prod-row{
    display: flex;
    gap: 30px;
    margin: 35px -90px;
    width: fit-content;
}

.row-img{
    width: 180px;
}


.prod-center{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}


.prod-center-text{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 50px 110px;
}

.ev-dl{
    font-weight: 900;
    color: rgb(86, 86, 86);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sm-ch{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-family: sans-serif;
}

.ds-buy{
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
}

.fyf{
    display: flex;
    justify-content: center;
    font-weight: 900;
    padding-top: 10px;
    text-decoration: none;
    color: black;
}

.fyf:hover{
    text-decoration: underline;
}


@media(max-width:860px){
    .prod-center-text{
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        padding: 30px 70px;
    }

    .prod-center{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
    }
}


@media(max-width:660px){
    .prod-center-text{
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding: 20px 30px;
    }

    .prod-center{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
    }

    .ev-dl{
        padding: 0px;
    }
}


@media(max-width:500px){
    .prod-center-text{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 5px 10px;
    }

    .prod-center{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
    }

    .ev-dl{
        padding: 0px;
        width: 80px;
        font-size: 12px;
    }
    
    .sm-ch{
        width: 300px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 17px;
        font-weight: 900;
        font-family: sans-serif;
    }
    
    .ds-buy{
        width: 300px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .fyf{
        font-size: 12px;
        padding-top: 0px;
    }
}


.lets-eat{
    background-color: #C05535;
    height: 100%;
    margin-top: 100px;
}

.bite{
    width: 210px;
}

.le-text{
    font-size: 60px;
    font-weight: 900;
    color: white;
    text-align: center;
}

.snacks-parnt{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 100px;
}

.snacks{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: white;
}

@media(max-width:1270px){
    .snacks{
        font-size: 20px;
    }

    .snacks-parnt{
        padding: 100px 120px;
        gap: 40px;
    }
}

@media(max-width:770px){
    .snacks{
        font-size: 20px;
    }

    .snacks-parnt{
        padding: 100px 0px;
        align-items: center;
        justify-self: center;
        flex-direction: column;
        gap: 20px;
    }

    .lets-eat{
        height: 100%;
    }
}

.snk-link{
    color: white;
    text-decoration: none;
}

.snk-link:hover{
    color: white;
    text-decoration: underline;
}

.snk-p{
    font-size: 20px;
    font-weight: 100;
}

.marginalia{
    width: 220px;
    margin-top: 70px;
}

.soc-parnt{
    display: flex;
    justify-content: space-between;
}

.yel-parnt, .yel-parnt2{
    margin: 0px;
    padding: 0px;
    display: flex;
}

.yel-parnt2{
    flex-direction: row-reverse;
}

.wws{
    background-color: #FFC107;
}

.yel-man, .yel-man2{
    display: flex;
    width: 100%;
}


.yel-text-parnt, .yel-text-parnt2{
    /* padding: 0px 20px; */
    height: 100%;
    display: flex;
    margin-left: 90px;
    flex-direction: column;
    justify-content: center;
}

.wws-text, .wws-text2{
    font-weight: 900;
    font-size: 25px;
    width: 100%;
}

.careers, .careers2{
    font-size: 50px;
    font-weight: 900;
    width: 100%;
}

.bec-part, .bec-part2{
    padding: 15px 0px;
    width: 100%;
}

.exp-car, .exp-car2{
    font-weight: 900;
    width: 100%;
}

.exp-car-link, .exp-car-link2{
    color: black;
    text-decoration: none;
}

.exp-car-link:hover{
    text-decoration: underline;
}

.exp-car-link2:hover{
    text-decoration: underline;
}

@media(max-width:860px){
    .wws-text, .wws-text2{
        font-weight: 900;
        font-size: 18px;
        width: 100%;
    }
    
    .careers, .careers2{
        font-size: 36px;
        font-weight: 900;
        width: 100%;
    }
    
    .bec-part, .bec-part2{
        padding: 15px 0px;
        width: 100%;
    }
    
    .exp-car, .exp-car2{
        font-weight: 900;
        width: 100%;
    }
}

@media(max-width:770px){
    .yel-parnt, .yel-parnt2{
        display: block;
    }

    .yel-text-parnt, .yel-text-parnt2{
        padding: 30px;
        margin: 0px;
    }

    .marginalia{
        width: 100px;
        margin-top: 40px;
    }
}


.wateraid-text{
    position: relative;
    top: -400px;
    padding-left: 170px;
}

.wateraid-img{
    width: 100%;
}

.wt-sm{
    font-weight: 900;
    font-size: 25px;
    padding: 15px 0px;
    color: white;
}

.wt-lg{
    font-weight: 900;
    font-size: 55px;
    background-color: white;
    width: fit-content;
    margin: 2px;
}

.wt-sm-link{
    color: white;
    text-decoration: none;
}

.wt-sm-link:hover{
    text-decoration: underline;
}

@media(max-width:1100px){
    .wt-sm{
        font-weight: 900;
        font-size: 18px;
        padding: 15px 0px;
        color: white;
    }
    
    .wt-lg{
        font-weight: 900;
        font-size: 40px;
        background-color: white;
        width: fit-content;
        margin: 2px;
    }

    .wateraid-text{
        position: relative;
        top: -270px;
        padding-left: 120px;
    }
}

@media(max-width:770px){
    .wt-sm{
        font-weight: 900;
        font-size: 14px;
        padding: 15px 0px;
        color: white;
    }
    
    .wt-lg{
        font-weight: 900;
        font-size: 20px;
        background-color: white;
        width: fit-content;
        margin: 2px;
    }

    .wateraid-text{
        position: relative;
        top: -200px;
        padding-left: 40px;
    }
}

@media(max-width:470px){
    .wt-sm{
        font-weight: 900;
        font-size: 14px;
        padding: 5px 0px;
        color: white;
    }
    
    .wt-lg{
        width: 100px;
        font-weight: 900;
        font-size: 20px;
        background-color: white;
        width: fit-content;
        margin: 2px;
    }

    .wateraid-text{
        width: 240px;
        position: relative;
        top: -150px;
        padding-left: 60px;
    }
}

.column-3-parnt{
    display: flex;
    /* margin-top: 20px; */
}

.bus, .nutri, .card-water{
    width: 400px;
}

.res-text, .res-hd{
    font-weight: 900;
}

.bus-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.res-link{
    color: black;
    text-decoration: none;
}

.res-link:hover{
    text-decoration: underline;
}

.footer{
    background-color: blue;
}

.foot-pepsi{
    width: 160px;
}