*{
    margin: 0px;
    padding: 0px;
    font-family: helvetica, Arial, sans-serif;
}

P{
    margin: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

.main{
    margin: 0px;
    padding: 0px;
    background: url(./assets/images/bgmain.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.img-parnt{
    margin: 0px;
    padding: 0px;
}

.logo{
    width: 100%;
    height: 100%;
}

.navbar{
    display: flex;
    padding: 0px;
    margin: 0px;
}

.main-ul, .cont-ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    font-weight: bolder;
    font-size: 13px;
    color: white;
}

.cont-ul{
    padding-right: 18px;
}

.main-ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 800;
    font-size: 14px;
    color: white;
}

ul{
    display: flex;
    gap: 30px;
    margin: 0px;
    list-style: none;
    font-weight: 800;
    font-size: 14px;
    color: white;
}

.navli{
    padding: 8px 0px;
}

.logo{
    margin: 27px 12px;
    width: 165px;
}   

.center-p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px 100px;
    line-height: 70px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 800;
}

.center-p p{
    padding: 0px 100px;
}

a{
    text-decoration: none;
    color: white;
}

.i-bars{
    padding: 0px 10px;
    font-size: 30px;
    color: white;
}

.main-sm{
    display: none;
}

@media(max-width:1250px){
    .main{
        display: none;
    }

    .main-sm{
        display: block;
    }
}

.mgn-sm{
    display: none;
    padding: 0px 10px;
    color: white;
    font-size: 15px;
}

@media(max-width:770px){
    .mgn-sm{
        display: block;
    }

    .cont-nav{
        display: none;
    }

    .main{
        background: url(./assets/images/bgmain2.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    /* CAROUSEL */
    /* CAROUSEL */
}




@media(max-width:650px){
    .center-p{
        padding: 0px 20px;
        height: 65vh;
        line-height: 50px;
    }

    .main{
        height: 70vh;
    }
}

@media(max-width:500px){
    .center-p{
        font-size: 35px;
        height: 50vh;
        line-height: 38px;
    }

    .main{
        height: 60vh;
    }
}

@media(max-width:370px){
    .center-p{
        font-size: 28px;
    }
}




/* MARQUEE    MARQUEE     MARQUEE    MARQUEE    MARQUEE */

.animation{
    font-size: 25px;
    font-weight: 800;
    margin: 33px 0px;
    color: #004C97;
}

.n-a{
    color: #004C97;
    font-size: 25px;
    font-weight: 100;
}

.n-a:hover{
    text-decoration: underline;
}

/* CAROUSEL */

.side-text-parnt{
    height: 100%;
}

.carousel-item{
    height: 100%;
}



.crs-side-para1{
    height: 100%;
    background-color: #568302;
    padding: 70px 30px;
    color: white;
}

.crs-side-para2{
    height: 100%;
    background-color: #01A7DF;
    padding: 70px 30px;
    color: white;
}

.crs-side-para3{
    height: 100%;
    background-color: #004C97;
    padding: 70px 30px;
    color: white;
}

.crs-side-para4{
    height: 100%;
    background-color: #313859;
    padding: 70px 30px;
    color: white;
}

.crs-side-para5{
    height: 100%;
    background-color: #C6404D;
    padding: 70px 30px;
    color: white;
}

.side-ar-heading{
    margin-bottom: 5px;
    font-weight: 800;
}

.side-main-heading{
    font-size: 45px;
    font-weight: 800;
    line-height: 65px;
}

.side-date{
    padding: 20px 0px;
}

.side-low-heading{
    padding: 10px 0px;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 32px;
}

.side-href{
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 800;
}

.carousel{
    padding: 0px;
}