*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

P{
    margin: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

.main{
    margin: 0px;
    padding: 0px;
    background: url(./assets/images/bgmain.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.img-parnt{
    margin: 0px;
    padding: 0px;
}

.logo{
    width: 100%;
    height: 100%;
}

.navbar{
    display: flex;
    padding: 0px;
    margin: 0px;
}

.main-ul, .cont-ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    font-weight: bolder;
    font-size: 13px;
    color: white;
}

.cont-ul{
    padding-right: 18px;
}

.main-ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 800;
    font-size: 14px;
    color: white;
}

ul{
    display: flex;
    gap: 30px;
    margin: 0px;
    list-style: none;
    font-weight: 800;
    font-size: 14px;
    color: white;
}

.navli{
    padding: 8px 0px;
}

.navli:hover{
    border-bottom: 3px solid #01A7DF;
    transition: 200ms;
    transition: 5s 5s 6s;
}

.logo{
    margin: 27px 12px;
    width: 165px;
}   

.center-p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px 180px;
    line-height: 70px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 800;
}

.center-p p{
    padding: 0px 20px;
}

.nav-link{
    text-decoration: none;
    color: white;
}

.i-bars{
    padding: 0px 10px;
    font-size: 30px;
    color: white;
}

.main-sm{
    display: none;
}

@media(max-width:1250px){
    .main{
        display: none;
    }

    .main-sm{
        display: block;
    }
}

.mgn-sm{
    display: none;
    padding: 0px 10px;
    color: white;
    font-size: 15px;
}

@media(max-width:770px){
    .center-p{
        padding: 0px 60px;
        height: 65vh;
        line-height: 50px;
    }

    .mgn-sm{
        display: block;
    }

    .cont-nav{
        display: none;
    }

    .main{
        background: url(./assets/images/bgmain2.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    /* CAROUSEL */
    /* CAROUSEL */
}




@media(max-width:650px){
    .center-p{
        padding: 0px 20px;
        height: 65vh;
        line-height: 50px;
    }

    .main{
        height: 70vh;
    }
}

@media(max-width:500px){
    .center-p{
        font-size: 35px;
        height: 50vh;
        line-height: 38px;
    }

    .main{
        height: 60vh;
    }
}

@media(max-width:370px){
    .center-p{
        font-size: 28px;
    }
}




/* MARQUEE    MARQUEE     MARQUEE    MARQUEE    MARQUEE */

.animation{
    font-size: 25px;
    font-weight: 800;
    margin: 33px 0px;
    color: #004C97;
}

.n-a{
    color: #004C97;
    font-size: 25px;
    font-weight: 100;
}

.n-a:hover{
    text-decoration: underline;
}

/* CAROUSEL */

.side-text-parnt{
    height: 100%;
}

.carousel-item{
    height: 100%;
}



.crs-side-para1{
    height: 100%;
    background-color: #568302;
    padding: 70px 30px;
    color: white;
}

.crs-side-para2{
    height: 100%;
    background-color: #01A7DF;
    padding: 70px 30px;
    color: white;
}

.crs-side-para3{
    height: 100%;
    background-color: #004C97;
    padding: 70px 30px;
    color: white;
}

.crs-side-para4{
    height: 100%;
    background-color: #313859;
    padding: 70px 30px;
    color: white;
}

.crs-side-para5{
    height: 100%;
    background-color: #C6404D;
    padding: 70px 30px;
    color: white;
}

.side-ar-heading{
    margin-bottom: 5px;
    font-weight: 800;
}

.side-main-heading{
    font-size: 45px;
    font-weight: 800;
    line-height: 65px;
}

@media(max-width:1200px){
    .side-main-heading{
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
    }
}

.side-date{
    padding: 20px 0px;
}

.side-low-heading{
    padding: 10px 0px;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 32px;
}

.side-href{
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 800;
}

.carousel{
    padding: 0px;
}




/* KITCHEN KITCHEN KITCHEN KITCHEN KITCHEN KITCHEN KITCHEN KITCHEN KITCHEN  */




.kitchen{
    padding: 0px;
    margin: 20px 0px;
}

.pepper-parnt{
    padding: 0px;
}

.pepper{
    width: 240px;
}

.kc-img{
    width: 95%;
}

.kc-img-parnt{
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;
    left: -5px;
    z-index: -1;
}

@media(max-width:3000px){
    .kc-img{
        width: 200%;
    }

    .pepper{
        width: 400px;
    }

    .kc-img-parnt{
        top: -110px;
        left: -50px;
    }
}

@media(max-width:2200px){
    .pepper{
        width: 400px;
    }
    
    .kc-img{
        width: 150%;
    }
    
    .kc-img-parnt{
        top: -40px;
        left: -5px;
    }
}

@media(max-width:2000px){
    .pepper{
        width: 400px;
    }
    
    .kc-img{
        width: 100%;
    }
    
    .kc-img-parnt{
        top: -40px;
        left: -5px;
    }
}

@media(max-width:1300px){
    .pepper{
        width: 240px;
    }
    
    .kc-img{
        width: 95%;
    }
    
    .kc-img-parnt{
        top: -40px;
        left: -5px;
    }
}

#kitchen2{
    display: none;
}

@media(max-width:990px){
    .kc-img{
        display: none;
    }

    #kitchen2{
        display: block;
    }

    #kc-text2{
        top: 150px;
    }
    .row{
        flex-direction: column-reverse;
    }
}

@media(max-width:770px){


    #kc-text2{
        top: 100px;
    }

    .kc-text1{
        margin-top: -150px;
    }

    .sm-text{
        font-weight: 100;
    }
    
    .h-text{
        font-weight: 100;
        font-size: 5px;
    }
}



@media(max-width:520px){
}

.kc-text{
    position: absolute;
    top: 500px;
    text-align: center;
    padding: 0px;
    height: 100%;
    align-items: flex-end;
}

.sm-text{
    color: white;
    font-weight: 900;
    font-size: 15px;
}

.h-text{
    font-size: 40px;
    font-weight: 900;
    background-color: white;
    padding: 0px;
}

@media(max-width:1200px){
    .h-text{
        font-size: 20px;
    }
}

.kc-img-parnt2{
    display: flex;
    justify-content: center;
    position: relative;
}

.kc-img-parnt2 .kc-text{
    top: 350px;
}



.l-text{
    padding: 0px;
    margin: -20px 0px;
}

.l-text-link{
    padding: 0px;
    margin: 60px 0px;
    font-weight: 800;
}

.l{
    text-decoration: none;
    color: black;
}

.l:hover{
    text-decoration: underline;
}



.dr-qk{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 70px;
}

.divers, .nutri{
    position: relative;
    top: -100px;
    padding: 0px;
    width: fit-content;
}

.drink, .quaker{
    width: 513px;
}


@media(max-width:860px){
    .dr-qk{
        flex-direction: column;
        padding: 0px 30px;
    }
    
    .drink, .quaker{
        width: 100%;
    }

    .kc-img-parnt, .kc-img-parnt2{
        padding: 0px;
    }

    .kc-img{
        width: 100%;
    }
    
}


.hungry{
    padding: 0px;
    font-size: 160px;
    font-weight: 900;
    letter-spacing: -10px;
    opacity: 10%;
}

.h-up-br{
    font-size: 30px;
    font-weight: 800;
    position: relative;
    top: -135px;
    left: 110px;
    width: fit-content;
}

@media(max-width:770px){
    .hungry{
        font-size: 110px;
    }

    .h-up-br{
        font-size: 25px;
        top: -120px;
    }
}

.mm{
    letter-spacing: -8px;
    font-weight: 900;
    font-size: 50px;
    color: #004C97;
}



@media(max-width:500px){
    .dr-qk{
        padding: 0px 0px;
    }

    .drink, .quaker{
        width: 100%;
    }

    .kc-img-parnt, .kc-img-parnt2{
        padding: 0px;
    }

    .kc-img{
        width: 100%;
    }

    .kc-text1{
        top: 340px;
    }

    #kc-text2{
        top: 60px;
    }


    .hungry{
        font-size: 80px;
    }

    .h-up-br{
        font-size: 20px;
        top: -100px;
    }
}

@media(max-width:325px){
    .sm-text{
        font-size: 8px;
    }

    .h-text{
        font-size: 15px;
    }

    .hungry{
        font-size: 60px;
        letter-spacing: -5px;
    }

    .h-up-br{
        font-size: 15px;
        top: -90px;
        left: 60px;
    }
}


@media(max-width:250px){
    .hungry{
        font-size: 40px;
        letter-spacing: -5px;
    }

    .h-up-br{
        font-size: 10px;
        top: -80px;
        left: 40px;
    }

    .pepper{
        width: 150px;
    }
}

.prod-parnt{
    width: 100%;
}

.prod-row{
    display: flex;
    gap: 30px;
    margin: 35px -90px;
    width: fit-content;
}

.row-img{
    width: 180px;
}


.prod-center{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}


.prod-center-text{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 50px 110px;
}

.ev-dl{
    font-weight: 900;
    color: rgb(86, 86, 86);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sm-ch{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-family: sans-serif;
}

.ds-buy{
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
}

.fyf{
    display: flex;
    justify-content: center;
    font-weight: 900;
    padding-top: 10px;
    text-decoration: none;
    color: black;
}

.fyf:hover{
    text-decoration: underline;
}

.lets-eat{
    background-color: #C05535;
    height: 100vh;
    margin-top: 100px;
}

.bite{
    width: 210px;
}

.le-text{
    font-size: 60px;
    font-weight: 900;
    color: white;
    text-align: center;
}

.snacks-parnt{
    display: flex;
    justify-content: center;
    gap: 140px;
    padding: 100px;
}

.snacks{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: white;
}

@media(max-width:1270px){
    .snacks{
        font-size: 20px;
    }

    .snacks-parnt{
        padding: 100px 120px;
    }
}

.snk-link{
    color: white;
    text-decoration: none;
}

.snk-link:hover{
    color: white;
    text-decoration: underline;
}

.snk-p{
    font-size: 20px;
    font-weight: 100;
}

.marginalia{
    width: 220px;
    margin-top: 70px;
}

.soc-parnt{
    display: flex;
    justify-content: space-between;
}

.yel-parnt{
    margin: 0px;
    padding: 0px;
}

.yel-man{
    display: flex;
    width: 100%;
}