
.pic{
    transition: 160ms;
    width: 300px;
}

/* .pic:hover{
    transform: scaleX(-100%);
} */

.ludoProjectParnt{
    display: flex;
    gap: 5px;
}

.flipDicePic{
    width: 40px;
    /* cursor: pointer; */
    transition: 100ms;
}

.parentOfLudo{
    width: fit-content;
    height: fit-content;
    border: 5px solid black;
    border-radius: 2px;
}

.rows{
    display: flex;
    justify-content: center;
}

.boxes{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    /* padding: 6px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.redHouse{
    position: absolute;
    background-color: red;
    width: 188px;
    height: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blueHouse{
    background-color: blue;
}

.greenParnt, .yellowParnt{
    display: flex;
    justify-content: flex-end;
}

.greenHouse{
    background-color: green;
}

.yellowHouse{
    background-color: yellow;
}

.gotParnt{
    padding: 0px;
    width: fit-content;
    background-color: wheat;
    padding: 20px;
    border: 2px solid black;
    border-radius: 100%;
}

.rowOfGots{
    padding: 0px;
    width: fit-content;
}

/* NOTNOTNOT NOTNOTNOT >>> *//* SOLUTION FOR "GOT" DISTUBANCE */

.gotImage{
    width: 28px;
    transition: 200ms;
}

.gotImage:hover{
    /* transform: scale(90%); */
    /* width: 29px; */
    box-shadow: 0px 0px 3px black;
    border-radius: 100%;
}

.redStop, .redBeRing{
    background-color: red;
}

.greenBeRing , .greenStop{
    background-color: green;
}

.blueBeRing, .blueStop{
    background-color: blue;
}

.yellowBeRing, .yellowStop{
    background-color: yellow;
}

.ringSection{
    background-color: rgba(0, 255, 255, 0.268);
}

div{
    font-size: 8px;
}