body{
    font-family: sans-serif;
}

.hidden{
    display: none;
}

/* TO DO LIST WITH FAKE API */

.userBox{
    background-color: rgb(214, 211, 211);
    border-radius: 5px;
    box-shadow: 0px 0px 4px #646464;
    padding: 10px 5px;
    color: #2E2E2E;
    margin: 10px 0px;
}

.userBox:hover{
    box-shadow: 0px 0px 8px #646464 ;
    transform: translate(0.3%);
}

a{
    text-decoration: none;
}

h1{
    margin: 0px;
}

/* TO DO LIST WITH FAKE API */

/* QR CODE GENERATOR */


/* .parent{
    display: flex;
    justify-content: center;
} */

.box{
    width: 5px;
    height: 5px;
    background-color: red;
    margin: 3px;
}




/* QR CODE GENERATOR */

.allParent{
    display: flex;
    justify-content: center;
    border-radius: 100%;
    background-color: black;
}

.upTriangle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    height: 0px;
    /* background-color: bisque; */
    /* border-radius: 100%; */
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid bisque;
}

.downTriangle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    height: 0px;
    /* background-color: bisque; */
    /* border-radius: 100%; */
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid bisque;
}